<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #92934a;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a href="index.html">Home</a></li>
  <li><a class="active" href="#Camera1.html">Camera 1</a></li>
  <li><a href="Camera2.html">Camera 2</a></li>
  <li><a href="Settings.html">Settings</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#fefefe;height:1500px;">
  <h1>Camera 1</h1>
  <h2>Showing Camera 1</h2>
  <h2>The navigation bar will stay at the top of the page while scrolling</h2>

  <p>Insert Camera 1 Feed</p>
</div>

</body>
</html>